<script lang="ts">
import Vue from 'vue'
import axios from 'axios';
import { Line } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale, PointElement, LineElement } from 'chart.js'
ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale, PointElement, LineElement)


export default {
    name: 'ChartResult',
    components: { Line },
    
    props: {
        chartId: {
            type: String,
            default: 'line-chart'
        },
        datasetIdKey: {
            type: String,
            default: 'label'
        },
        width: {
            type: Number,
            default: 1200
        },
        height: {
            type: Number,
            default: 400
        },
        cssClasses: {
            default: '',
            type: String
        },
        styles: {
            type: Object,
            default: () => { }
        },
        plugins: {
            type: Object,
            default: () => { }
        },
        labels: {
            type: Array,
            default: () => { }
        },
        datas: {
            type: Array,
            default: () => { }
        }

    },
    data(props) {
        return {
            response: "",
            chartData: {
                // define labels value with props
                labels: props.labels as Number[],
                datasets: [{
                    backgroundColor: '#fff',
                    data: props.datas as Number[],
                    radius: 1,
                    borderColor: '#47b784',
                    borderWidth: 1
                }] as any[]
            },
            chartOptions: {
                responsive: true
            }
        }
    },

    watch: {
        labels: function (newVal, oldVal) {
            if(newVal)
                this.chartData.labels = newVal;
        },
        datas: function (newVal, oldVal) {
            if(newVal)
                this.chartData.datasets[0].data = newVal;
        }
    },

    methods: {
        async retrieveDatas() {

        }
    },
    mounted() {
        this.retrieveDatas();
        ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale, PointElement, LineElement)

    }
}
</script>

<template>
    <div>
        <h1 class="green">{{ response }}</h1>
        <Line :chart-options="chartOptions" :chart-data="chartData" :chart-id="chartId" :dataset-id-key="datasetIdKey"
            :css-classes="cssClasses" :styles="styles" :width="width" :height="height" />
    </div>
</template>

<style scoped></style>