<template>
  <div class="w-full flex flex-col  space-y-10">
    <div class="hidden flex flex-col lg:flex-row items-center ">
      <h2 class=" font-extrabold mb-4  mt-7 lg:w-1/2 lg:mb-0 lg:mt-0">FINAL BALANCE</h2>
      <span class="  text-2xl font-bold">{{ balance }} $</span>
    </div>
    <!-- Create a toggle switch -->
    <div class="">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 " @click="toggleTableDisplay">
        {{ showTable ? 'Display as graphic' : 'Display as table' }}
      </button>
    </div>
    <!-- Display the table or the graph depending on the toggle switch -->
    <div v-if="showTable">
      <TableResult :datas="results" />
    </div>
    <div v-else>
      <ChartResult :datas="datas" :labels="labels" />
    </div>

  </div>
</template>

<script lang="ts">
import { storeToRefs } from "pinia";
import { computed, defineComponent, ref, onMounted } from "vue";
import { useProfitCalculatorStore } from "../../../stores/profitCalculator";
import TableResult from "./TableResult.vue";
import ChartResult from "./ChartResult.vue";

interface Result {
  monthNumber: number | null;
  newBalance: number | null;
  lotSize: number | null;
  gain: number | null;
}

export default defineComponent({
  components: { TableResult, ChartResult },

  setup() {
    const store = useProfitCalculatorStore();
    const { initialDeposit, period, depositForLotSize, gainPerPeriod, initialLotSize } = storeToRefs(store);
    const rate = ref(1.0512);
    const profit = ref(0.0);
    const balance = ref(initialDeposit.value);
    const results = ref<Result[]>([]);
    const datas = ref<Number[]>([]);
    const labels = ref<Number[]>([]);
    const showTable = ref(true);

    const toggleTableDisplay = () => {
      showTable.value = !showTable.value;
    };

    const unsubscribe = store.$onAction(
      ({
        name, // name of the action
        store, // store instance, same as `someStore`
        args, // array of parameters passed to the action
        after, // hook after the action returns or resolves
        onError, // hook if the action throws or rejects
      }) => {
        // a shared variable for this specific action call
        const startTime = Date.now();
        // this will trigger before an action on `store` is executed
        console.log(`Start "${name}" with params [${args.join(", ")}].`);

        // this will trigger if the action succeeds and after it has fully run.
        // it waits for any returned promised
        after((result) => {
          console.log(
            `Finished "${name}" after ${Date.now() - startTime
            }ms.\nResult: ${result}.`
          );
          balance.value = initialDeposit.value;
          results.value = [];
          datas.value = [];
          labels.value = [];
          const { _results, _labels, _datas } = getProfit(initialDeposit.value, period.value, depositForLotSize.value, gainPerPeriod.value, initialLotSize.value, balance.value);
          results.value = _results;
          labels.value = _labels;
          datas.value = _datas;
        });

        // this will trigger if the action throws or returns a promise that rejects
        onError((error) => {
          console.warn(
            `Failed "${name}" after ${Date.now() - startTime
            }ms.\nError: ${error}.`
          );
        });
      }
    );
    // Add every variable with .value that is used in the function to the parameter list
    function getProfit(initialDeposit: number, period: number, depositForLotSize: number, gainPerPeriod: number, initialLotSize: number, balance: number) {

      let gainPerMonthInDollar = initialDeposit * (gainPerPeriod / 100);
      let cumulatedGain = 0;
      let lotSize = 0.00;

      let _results : any[]  = [];
      let _labels : any[] = [];
      let _datas : any[] = [];


      for (let index = 0; index < period; index++) {
        cumulatedGain += gainPerMonthInDollar
        lotSize = balance / depositForLotSize * initialLotSize > initialLotSize
          ? balance / depositForLotSize * initialLotSize
          : initialLotSize;

        if (cumulatedGain >= depositForLotSize) {
          cumulatedGain = 0;
          gainPerMonthInDollar = balance * (gainPerPeriod / 100);
        }
        const previousBalance = balance;
        balance += gainPerMonthInDollar;
        const diff = balance - previousBalance;
        const result: Result = {
          monthNumber: index + 1,
          newBalance: Math.round((balance + Number.EPSILON) * 100) / 100,
          lotSize: Math.round((lotSize + Number.EPSILON) * 100) / 100,
          gain: Math.round((diff + Number.EPSILON) * 100) / 100,
        }

        // Push result at the beginning of the results array
        _results.unshift(result);
        _labels = [..._labels, index + 1];
        _datas = [..._datas, balance];
      }

      return { _results, _labels, _datas };
    }

    onMounted(() => {
      const { _results, _labels, _datas } = getProfit(initialDeposit.value, period.value, depositForLotSize.value, gainPerPeriod.value, initialLotSize.value, balance.value);
      results.value = _results;
      labels.value = _labels;
      datas.value = _datas;
    })

    return {
      rate,
      initialDeposit,
      period,
      profit,
      balance,
      results,
      datas,
      labels,
      showTable,
      getProfit,
      toggleTableDisplay,
    };
  },
  methods: {},
});
</script>

<style scoped></style>
