<template>
    <div>
        <table class="w-full text-left ">
            <thead class="border-b font-medium dark:border-neutral-500">
                <tr>
                    <th scope="col" class="px-6 py-3">Month</th>
                    <th scope="col" class="px-6 py-3">Balance</th>
                    <th scope="col" class="px-6 py-3">Lot Size</th>
                    <th scope="col" class="px-6 py-3">Gain</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600"
                    v-for="(result, index) in datas" :key="index">
                    <td class="px-6 py-4">{{ result.monthNumber }}</td>
                    <td class="px-6 py-4">{{ result.newBalance }}</td>
                    <td class="px-6 py-4">{{ result.lotSize }}</td>
                    <td class="px-6 py-4">± {{ result.gain }}</td>
                </tr>
            </tbody>
        </table>


    </div>
</template>
  
<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
    props: ['datas'],
    setup() {

        const monthlyResults = ref([]);
        return { monthlyResults };
    }
});
</script>
  