<template>
    <div class="lg:flex lg:flex-row items-center  lg:mb-5">
        <div class="mb-4  mt-7 lg:w-1/2 lg:mb-0 lg:mt-0">
            <label for="deposit">Gain per Month (%)</label>
        </div>
        <div class="rounded-lg lg:w-1/2">
            <input name="deposit" class="px-2   w-full" type="number" v-model="value" @input="updateValueStore"
                placeholder="2">
            <ErrorInput message="Invalid input. Please enter a numeric value." v-if="error" /> 
        </div>
    </div>
</template>

<script lang="ts">
import { storeToRefs } from 'pinia';
import { defineComponent, ref } from 'vue'
import { useProfitCalculatorStore } from '../../../stores/profitCalculator';
import { isNumber } from '../../../utils/utils';
import ErrorInput from "../../ErrorInput.vue";
export default defineComponent({
    components: {
        ErrorInput
    },
    setup() {

        const error = ref(false);
        const store = useProfitCalculatorStore();
        const { gainPerPeriod, updateGainPerPeriod } = store;
        const value = ref(gainPerPeriod);

        function updateValueStore() {
            if (isNumber(value.value)) {
                error.value = false;
                updateGainPerPeriod(value.value);
            } else {
                error.value = true;
            }
        }

        return {
            value,
            error,
            updateValueStore
        }
    }
})
</script>

<style scoped></style>
