<template>
    <div class="lg:flex lg:flex-row items-center  lg:mb-5">
        <div class="mb-4  mt-7 lg:w-1/2 lg:mb-0 lg:mt-0">
            <label for="deposit">Ratio Lot Size : Deposit</label>
        </div>
        <div class="rounded-lg lg:w-1/2">
            <div class=" flex flex-row  items-center space-x-2 ">
                <div>
                    <input name="initialLotSize" class="px-2 w-full " type="number" step="0.01" v-model="valueLot"
                        @input="updateValueStore" placeholder="0.01" disabled>
                </div>
                <span>:</span>
                <div class="">
                    <input name="depositForLotSize" class="px-2 w-full" type="number" v-model="valueDeposit"
                        @input="updateValueStore" placeholder="2">
                </div>
            </div>
            <ErrorInput message="Invalid input. Please enter a valid integer number." v-if="error" />
        </div>
    </div>
</template>

<script lang="ts">
import { storeToRefs } from 'pinia';
import { defineComponent, ref } from 'vue'
import { useProfitCalculatorStore } from '../../../stores/profitCalculator';
import { isInteger, isNumber } from '../../../utils/utils';
import ErrorInput from '../../ErrorInput.vue';
export default defineComponent({
    components: {
        ErrorInput
    },
    setup() {
        const valueLot = ref(0.01);
        const valueDeposit = ref(1000);
        const error = ref(false);

        const store = useProfitCalculatorStore();
        const { updateInitialLotSize } = store;

        function updateValueStore() {
            console.log(error.value)
            if (isNumber(valueLot.value) && isNumber(valueDeposit.value) && isInteger(valueDeposit.value)) {
                error.value = false;
                updateInitialLotSize(valueLot.value);
                updateInitialLotSize(valueDeposit.value);
            } else {
                error.value = true;
            }

        }

        return {
            valueLot,
            valueDeposit,
            error,
            updateValueStore
        }
    }
})
</script>

<style scoped></style>
