<template>
  <div class="lg:flex lg:flex-row items-center  lg:mb-5">
    <div class="mb-4 mt-7 mb-4  mt-7 lg:w-1/2 lg:mb-0 lg:mt-0">
      <label for="period">Months</label>
    </div>
    <div class="rounded-lg lg:w-1/2">
      <input name="period" class="px-2  w-full" type="number" v-model="value" @input="updateValueStore" placeholder="12">
      <ErrorInput message="Invalid input. Please enter a valid integer number." v-if="error" />
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import { useProfitCalculatorStore } from "../../../stores/profitCalculator";
import { isInteger, isNumber } from '../../../utils/utils';
import ErrorInput from "../../ErrorInput.vue";
export default defineComponent({
  components: {
    ErrorInput,
  },
  setup() {
    const error = ref(false);
    // Store
    const store = useProfitCalculatorStore();
    const { period, updatePeriod } = store;
    const value = ref(period);

    // Method
    function updateValueStore() {
      if (isNumber(value.value) && isInteger(value.value)) {
        error.value = false;
        updatePeriod(value.value);
      } else {
        error.value = true;
      }

    }


    return {
      value,
      error,
      updateValueStore
    };
  },
});
</script>

<style scoped></style>
