<template>
    <div>
        <table class="table-auto border border-collapse">
            <thead>
                <tr>
                    <td v-for="(tableau, index) in datas[0]" :key="index" class="border p-2 font-semibold">
                        {{ addNumberSuffix(index + 1) }}
                    </td>
                    <td class="border p-2 font-semibold">Cumulated Loss</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(tableau, index) in datas" :key="index">
                    <td v-for="value in tableau" :key="value" class="border p-2" :class="{ 'bg-gray-200': value === 0 }">
                        {{ value !== 0 ? value : '' }}
                    </td>

                    <td class="border p-2 bg-red-200 dark:bg-red-400">{{ rowSum(tableau) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
  
<script lang="ts">
import { computed, defineComponent } from 'vue';

export default defineComponent({
    name: 'TableResults',
    props: {
        datas: {
            type: Array as () => number[][],
            required: true,
        },
    },
    setup(props) {

        function rowSum(tableau: number[]): number {
            return tableau.reduce((acc, valeur) => parseFloat((acc + valeur).toFixed(2)), 0);
        }

        function addNumberSuffix(number: number) {
            const suffixes = ['th', 'st', 'nd', 'rd'];
            const absNumber = Math.abs(number);

            // Numbers ending in 11, 12, or 13 use "th" suffix
            if (absNumber % 100 >= 11 && absNumber % 100 <= 13) {
                return number + 'th';
            }

            // Get the last digit of the number
            const lastDigit = absNumber % 10;

            // Determine the correct suffix based on the last digit
            const suffix = suffixes[lastDigit] || 'th';

            return number + suffix;
        }

        return {
            addNumberSuffix,
            rowSum,
        };
    },
});
</script>
  
<style scoped>
/* Styles spécifiques au composant */
.table {
    width: 100%;
}

.border {
    border: 1px solid #e2e8f0;
}

.p-2 {
    padding: 0.5rem;
}
</style>
