<template>
  <div class="bg-gray-100 min-h-screen flex flex-col justify-center items-center">
    <h1 class="text-4xl  mb-8">Tools for <span class="font-bold">smarter trading.</span></h1>
    <div class="flex space-x-8">
      <router-link to="/profit-calculator" class="btn-primary">Profit Calculator</router-link>
      <router-link to="/max-grid-calculator" class="btn-primary">Maximum Grid Calculator</router-link>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'Accueil',
};
</script>

<style scoped>
.btn-primary {
  padding: 12px 24px;
  background-color: #4c51bf;
  color: #ffffff;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #4338ca;
}

</style>
