<template>
    <div class="p-8">
        <Title text="Maximum Grid Calculator" />
        <h2 class="text-center w-1/2 mx-auto mb-10">
            How many grids your account can handle before margin call ?
        </h2>

        <div class="lg:w-1/2 mx-auto">
            <div class="lg:flex lg:flex-row items-center lg:mb-5">
                <div class="mb-4 lg:w-1/2 lg:mb-0">
                    <label for="integer-input" class="flex items-center">
                        Balance :
                    </label>
                </div>
                <div class="mb-4 rounded-lg lg:w-1/2 lg:mb-0">
                    <input id="integer-input" type="number" v-model="balance" class="px-2 w-full" />
                    <ErrorInput message="Invalid input. Please enter a numeric value." v-if="isBalanceValid == false" />
                </div>
            </div>
            <div class="lg:flex lg:flex-row items-center lg:mb-5">
                <div class="mb-4 lg:w-1/2 lg:mb-0">
                    <label for="decimal-input" class="flex items-center">
                        Grid distance (pips) :
                    </label>
                </div>
                <div class="mb-4 lg:w-1/2 lg:mb-0">
                    <input id="decimal-input" type="number" v-model="gridDistance" class="px-2 w-full" />
                    <ErrorInput message="Invalid input. Please enter a numeric value."
                        v-if="isGridDistanceValid == false" />
                </div>
            </div>
            <!--
                <div class="lg:flex lg:flex-row items-center lg:mb-5">
                    <div class="mb-4 lg:w-1/2 lg:mb-0">
                        <label for="select-input" class="flex items-center">
                            Risk level :
                        </label>
                    </div>
                    <div class="mb-4 lg:w-1/2 lg:mb-0">
                        <select id="select-input" v-model="riskLevel" class="px-2 w-full">
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="Significant">Significant</option>
                            <option value="High">High</option>
                            <option value="Fixed Lot">Fixed Lot</option>
                        </select>
                    </div>
                </div>
            -->
            <div class="lg:flex lg:flex-row items-center lg:mb-5">
                <div class="mb-4 lg:w-1/2 lg:mb-0">
                    <label for="lot-size" class="flex items-center">
                        Fixed Lot Size :
                    </label>
                </div>
                <div class="mb-4 lg:w-1/2 lg:mb-0">
                    <input id="lot-size" type="number" v-model="lotSize" class="px-2 w-full" />
                    <ErrorInput message="Invalid input. Please enter a numeric value."
                        v-if="isLotSizeValid == false" />

                </div>
            </div>
        </div>

        <div class="bg-gray-100 text-center py-4 my-10">
            <p class="text-lg font-semibold text-gray-800">
                Maximum grid: {{ grids.length }}
            </p>
        </div>

        <div class="flex justify-center my-10">
            <TableResults :datas="grids" />
        </div>
        <div class="flex justify-center">
            <table class="table-auto border border-collapse">
                <tr>
                    <td class="border p-2">Total distance in pips</td>
                    <td class="border p-2">{{ grids.length * gridDistance }}</td>
                </tr>
                <tr>
                    <td class="border p-2">Cumulated Loss at last grid</td>
                    <td class="border p-2">{{ cumulatedLossAtLastGrid() }}</td>
                </tr>
                <tr>
                    <td class="border p-2">Maximum number of grids</td>
                    <td class="border p-2">{{ grids.length }}</td>
                </tr>

            </table>

        </div>
    </div>
</template>
  
<script lang="ts">
import { defineComponent, ref, computed, watch } from 'vue';
import Title from '../components/Title.vue'
import TableResults from '../components/avgDownCalculator/TableResults.vue'
import { isNumber, isInteger } from '../utils/utils';
import ErrorInput from '../components/ErrorInput.vue';

import { event } from 'vue-gtag'


export default defineComponent({
    name: 'MaxAvgDownTradeCalculator',
    components: {
        Title,
        TableResults,
        ErrorInput
    },
    setup() {
        const balance = ref<number>(1000);
        const gridDistance = ref<number>(35);
        const lotSize = ref<number>(0.01);
        const contractSize = ref<number>(100000);

        const isBalanceValid = ref<boolean>(true);
        const isGridDistanceValid = ref<boolean>(true);
        const isLotSizeValid = ref<boolean>(true);


        const gridDistancePoints = computed(() => {
            return gridDistance.value * 0.0001;
        });
        const lossPerGridDistance = computed(() => {
            return gridDistancePoints.value * contractSize.value * lotSize.value;
        });
        const grids = computed(() => {
            const loss = lossPerGridDistance.value;
            const tableauDeTableaux: number[][] = [];
            let sumTotal = 0;
            const maxSum = balance.value;
            let tableauPrecedent: number[] = [];

            if (sumTotal < maxSum) {
                tableauPrecedent.push(loss);
                sumTotal += loss;
            }

            tableauDeTableaux.push(tableauPrecedent);
            let dernierChiffre: number = loss;

            while (sumTotal < maxSum && tableauDeTableaux.length < 30) {
                const nouveauTableau: number[] = [...tableauPrecedent];

                if (nouveauTableau.length > 1)
                    dernierChiffre *= 2;
                const sumNewTable = tableauPrecedent.reduce((acc, value) => acc + value, 0) + dernierChiffre;
                if (sumTotal + sumNewTable <= maxSum) {
                    nouveauTableau.push(dernierChiffre);
                    sumTotal += sumNewTable;
                    tableauPrecedent = nouveauTableau;
                    tableauDeTableaux.push(nouveauTableau);
                } else {
                    break;
                }
            }
            return equalizeSubarraySize(applyCumulation(tableauDeTableaux));
        });

        const lossPerGridDistancePercent = computed(() => {
            return (lossPerGridDistance.value / balance.value) * 100;
        });

        function applyCumulation(tableauDeTableaux: number[][]): number[][] {
            const transformedTableauDeTableaux: number[][] = [];

            for (let i = 0; i < tableauDeTableaux.length; i++) {
                const tableau: number[] = tableauDeTableaux[i];

                const transformedTableau: number[] = tableau.reduce<number[]>((acc, valeur, index) => {
                    const prevTableau: number[] | undefined = transformedTableauDeTableaux[i - 1];
                    const prevValeur: number = prevTableau && prevTableau[index] !== undefined ? prevTableau[index] : 0;

                    acc.push(parseFloat((valeur + prevValeur).toFixed(2)));
                    return acc;
                }, []);

                transformedTableauDeTableaux.push(transformedTableau);
            }

            return transformedTableauDeTableaux;
        }

        function equalizeSubarraySize(arr: number[][]): number[][] {
            const maxLength = Math.max(...arr.map(subarr => subarr.length));

            return arr.map(subarr => {
                const diff = maxLength - subarr.length;
                return subarr.concat(Array(diff).fill(0));
            });
        }

        function cumulatedLossAtLastGrid(): number {
            const lastGrid = grids.value[grids.value.length - 1];
            return lastGrid.reduce((acc, value) => acc + value, 0);
        }

        function validateField(condition: boolean): boolean {
            return condition;
        }

        watch([balance, gridDistance, lotSize], ([newBalance, newGridDistance, newLotSize], [oldBalance, oldGridDistance, oldLotSize]) => {
            if (validateField(isNumber(newBalance) && isInteger(newBalance) && newBalance > 0)) {
                balance.value = Math.round(newBalance);
                isBalanceValid.value = true;
            } else {
                balance.value = oldBalance;
                isBalanceValid.value = false;
            }

            if (validateField(isNumber(newGridDistance) && newGridDistance > 0)) {
                gridDistance.value = newGridDistance;
                isGridDistanceValid.value = true;
            } else {
                gridDistance.value = oldGridDistance;
                isGridDistanceValid.value = false;
            }

            if (validateField(isNumber(newLotSize) && newLotSize > 0)) {
                lotSize.value = newLotSize;
                isLotSizeValid.value = true;
            } else {
                lotSize.value = oldLotSize;
                isLotSizeValid.value = false;
            }

        });

        return {
            balance,
            gridDistance,
            lotSize,
            grids,
            gridDistancePoints,
            lossPerGridDistance,
            lossPerGridDistancePercent,
            isBalanceValid,
            isGridDistanceValid,
            isLotSizeValid,
            cumulatedLossAtLastGrid,
            equalizeSubarraySize,
            applyCumulation
        };
    },
});
</script>
  
<style scoped></style>
  