<template>
    <div class="p-8">
        <h1 class="text-3xl font-bold text-center mb-10">Compounding Effect Calculator for Trader</h1>
        <h2 class="text-center w-1/2 mx-auto mb-10">Unlike most online compounding effect calculators. This calculator takes into account the ratio between transaction volume and balance. In order to obtain the most accurate and realistic results possible. </h2>
        <div class="flex flex-col lg:w-full space-y-10">
            <div class="test lg:w-1/2 mx-auto">
                <DepositInput />
                <PeriodInput />
                <GainPerPeriodInput />
                <InitialLotSizeInput />
            </div>
            <div class="rounded-lg lg:w-1/2 mx-auto">
                <ExpectedResult />
            </div>
        </div>
    </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
// Import the below components using destructuring

import ExpectedResult from "../components/calculator/result/ExpectedResult.vue";
import DepositInput from "../components/calculator/form/DepositInput.vue";
import PeriodInput from "../components/calculator/form/PeriodInput.vue";
import GainPerPeriodInput from "../components/calculator/form/GainPerPeriodInput.vue";
import InitialLotSizeInput from "../components/calculator/form/InitialLotSizeInput.vue";

export default defineComponent({
    components: {
        PeriodInput,
        ExpectedResult,
        DepositInput,
        GainPerPeriodInput,
        InitialLotSizeInput
    },
    setup() { },
});
</script>

<style scoped></style>
