<template>
    <div>
        <!-- Display error -->
        <p class="text-red-500 text-xs italic">{{ message }}</p>
    </div>
</template>

<script lang="ts">

import { defineComponent, ref } from 'vue'

export default defineComponent({
    props: {
        message: {
            type: String,
            required: true
        }
    },
    setup() {

        return {

        }
    }
})
</script>

<style scoped></style>
