<template>
  <div>
  <h1 class="text-3xl font-bold text-center mb-10">{{ text }}</h1>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Title',
  props: {
        text: {
            type: String,
            required: true
        }
    },
  // Logique du composant
});
</script>

<style scoped>
/* Styles spécifiques au composant */
</style>
