@import './base.css';

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  /*padding: 2rem;*/
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

/* Apply a border to input elements */
input, select {
  border: 1px solid var(--greyLight-2);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  background-color: var(--greyLight-1);
  transition: all 0.2s;
}

@media (prefers-color-scheme: dark) {

  input {
    background-color: #40414f;
  }
}

input::placeholder, select::placeholder {
  color: var(--greyLight-3);
}

input[type=number], select {
  height: 3rem;
}