<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";

</script>

<template>

    <div class="w-full">
     <router-view></router-view>
    </div>

</template>

<style scoped>

</style>
